.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: #ddd;
}

.rain {
  position: absolute;
  background: #74ccf4;
  width: 2px;
  height: 30px;
  top: 10%;
  animation-name: rainfall;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rain-drop1 {
  left: 5%;
  animation-duration: 0.7s;
}
.rain-drop2 {
  left: 15%;
  animation-duration: 0.5s;
}
.rain-drop3 {
  left: 25%;
  animation-duration: 0.8s;
}
.rain-drop4 {
  left: 35%;
  animation-duration: 0.6s;
}
.rain-drop5 {
 left: 45%;
  animation-duration: 0.55s;
}
.rain-drop6 {
  left: 55%;
  animation-duration: 0.7s;
}
.rain-drop7 {
  left: 65%;
  animation-duration: 0.5s;
}
.rain-drop8 {
  left: 75%;
  animation-duration: 0.8s;
}
.rain-drop9 {
  left: 85%;
  animation-duration: 0.6s;
}
.rain-drop10 {
  left: 95%;
  animation-duration: 0.55s;
}

@keyframes rainfall {
  100% {
    top: 90%;
  }
}

/* Cloud */
.cloudOne {
  left: 100px;
  animation-duration: 12s;
  transform: scale(0.75);
}

.cloudTwo {
  left: 10px;
  animation-duration: 23s;
  transform: scale(0.95);
}

.cloudThree {
  left: 50px;
  animation-duration: 19s;
  transform: scale(0.85);
}

.cloudFour {
  left: 100px;
  animation-duration: 15s;
}

.cloud {
  width: 150px;
  height: 100px;
  top: 8%;
  background: #bbb;
  position: absolute;
  border-radius: 10%;
  animation-name: cloudy;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.75;
}

.cloud::before {
  content: "";
  position: absolute;
  background: #bbb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0px;
  left: -40px;
  box-shadow: 50px -35px 1px 5px #bbb;
}

.cloud::after {
  content: "";
  position: absolute;
  background: #bbb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0px;
  left: 90px;
  box-shadow: -40px -50px 1px 5px #bbb;
}

@keyframes cloudy {
  0% {
    left: -10px;
  }
  100% {
    left: 85%;
  }
}

.cat,
.ears,
.head,
.body,
.eyes,
.tail {
  position: absolute;
}

.cat {
  position: absolute;
  background: transparent;
  width: 100px;
  height: 200px;
  bottom: 0;
  left: 50%;
  /* transform: scale(0.75); */
}

.ears {
  width: 20px;
  height: 20px;
  background: #000;
  top: 0%;
}

.left-ear {
  left: 15%;
  transform: rotate(10deg) skewY(10deg);
  animation-name: lefteardrop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.right-ear {
  left: 65%;
  transform: rotate(-10deg) skewY(-10deg);
  animation-name: righteardrop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
}

.eyes {
  width: 15px;
  height: 25px;
  border-radius: 55%;
  background: #eee;
  top: 30%;
  animation-name: eyecatching;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.left-eye {
  left: 25%;
}

.right-eye {
  left: 65%;
}

.body {
  width: 100px;
  height: 125px;
  border-radius: 100% 100% 75% 75%;
  background: #000;
  bottom: 0;
}

.tail {
  width: 100px;
  height: 15px;
  border-radius: 100% 100% 50% 50%;
  background: #000;
  bottom: 2%;
  left: 40%;
  transform: skewY(-5deg);
  animation-name: tailwag;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes eyecatching {
  50% {
    /* background: #0c0; */
    width: 10px;
    height: 20px;
  }
}

@keyframes lefteardrop {
  50% {
    transform: skewY(25deg);
  }
}

@keyframes righteardrop {
   50% {
     transform: skewY(-25deg);
   }
 }

@keyframes tailwag {
  50% {
    transform: skewY(3deg);
  }
}
